build/
dist/
packages/*
data/*
resources/*
!data/mirrors.json
!resources/QRcode.jpg
!resources/stealth.min.js
!resources/zhs.ico
!resources/markdown/
.obsidian/
.idea/
__pycache__/
.vscode/
.venv/
config.ini
config.macos.ini
.autovisor/
captcha/
logs/
./preview/*
*.egg-info/
