build/
dist/
packages/*
data/*
resources/*
!data/mirrors.json
!resources/QRcode.jpg
!resources/stealth.min.js
!resources/zhs.ico
.obsidian/
.idea/
__pycache__/
.vscode/
.venv/
captcha/
logs/
./preview/*
*.egg-info/
